node_modules
node_modules_tmp
.env
secrets.json

# Hardhat
cache
cache-zk
artifacts
artifacts-zk
typechain
.openzeppelin

# Coverage
coverage
coverage.json
coverageEnv

# Build
dist
docs
build
build_
.build
.build-temp
.tsbuilt

# Certora
.certora*
certora_*
script/certora

# Tests
test-results.xml
junit.xml
allFiredEvents
tests/scenarios/
tests/Scenarios/

# Solidity
.solcache
.solcachecov
formulas
outputs
Reports
scTopics

# Scenario
scenario/build/webpack.js
scenario/.tscache
.scencache
emv-*/

# Yarn
yarn-error.log
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Generated/External
contracts/oracle/*
contracts/generated
deployments/localhost

# IDE
.idea
.last_confs

# OSX
.DS_Store
