node_modules
artifacts
artifacts-zk
cache
cache-zk
coverage*
gasReporterOutput.json
dist
scenario
typechain
contracts/oracle
CHANGELOG.md
docs

# Ignore SwapHelper.sol since it was already audited
contracts/SwapHelper/SwapHelper.sol